
{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container-fluid about">
    <div class="section">
      <h1 style="text-align: center; color:white; padding-top:100px; font-size: 50px;">About Us</h1>
    </div>
    <div class="home mt-2">
      <a href="/" class="btn btn-lg">Home</a><span>About-Page</span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-10 m-auto d-block">
        <p style="margin-top: 10px;">WELCOME TO OUR WEBSITE !</p>
        <h1 class="windows">Windows & Doors</h1>
        <span class="display-5">Professionals and Best Quality Services & Excellent Work!</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-10 m-auto d-block p-4">
        <p>US Window & Door is a reliable, insured, independent business and it is one of the oldest exclusive window and door replacement companies that service throughout Southern California.</p>
        <p>We offer a huge selection of styles, sizes and colors both standard and custom-fitted to uniquely fit your home. Our windows and doors are manufactured with the highest quality standards in the industry, whether it is made from vinyl, fiberglass, wood, or aluminum</p>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="section1 ourteam">
      <h1 align="center">Our Team</h1>
      <p align="center">Our team of installation experts will ensure that your home will have decades of operational windows and doors.We have staff that takes care of every phase of your project to ensure 5 star rated installations.
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 m-auto d-flex">
          <a href="#"><img src="{% static 'images/16.jpg' %}" class="img-fluid" alt=""></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 m-auto d-flex">
          <a href="#"><img src='{% static "images/19.jpg" %}' class="img-fluid" alt=""></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 m-auto d-flex">
          <a href="#"><img src="/static/images/17.jpg" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <!--...................................end of our team container-->


{% endblock %}

</html>
</body>