<div class="container-fluid bg-dark">
    <div class="footer">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-md-12 col-10 d-block m-auto">
          <span class="fa fa-window-restore fa-2x logo-icon text-light"></span>
          <span class="left-logo text-dark">
            <span class="" style="font-weight:bold; color: white; font-size: 40px;">Mend</span>
            <p style="color: white;">Doors & Windows</p>
            <p style="color: white;">Discover modern, durable and affordable Premium™ Vinyl windows and patio doors.</p>
          </span>
        </div>
        <div class="col-lg-1 col-sm-4 col-md-12 col-10 d-block m-auto">
          <h3 style="color: white;">Pages</h3>
          <div class="nav">
            <ul class="navbar-nav">
              <li class=""><a href="/" class="nav-link text-light">Home</a></li>
              <li class=""><a href="{% url 'about' %}" class="nav-link text-light">About Us</a></li>
              <li class=""><a href="{% url 'services' %}" class="nav-link text-light">Services</a></li>
              <li class=""><a href="#" class="nav-link text-light">Blog</a></li>
              <li class=""><a href="{% url 'contact' %}" class="nav-link text-light">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-12 col-10 d-block m-auto">
          <h3 style="color: white; margin-top: 30px;">Articles</h3>
          <div class="row article">
            <div class="col">
              <img src="/static/images/1.jpg" class="img-fluid" width="200px" height="100px" alt="">
            </div>
            <div class="col text-light">
              <h5>Doors and windows are among the essential elements of a building from security, functional, and
                aesthetic point of view.</h5>
            </div>
          </div>
          <div class="row article">
            <div class="col">
              <img src="/static/images/5.jpg" class="img-fluid" width="200px" height="100px" alt="">
            </div>
            <div class="col text-light">
              <h5>Proper fixing of doors and windows in wall openings is vital as faulty installation could compromise
                the safety of the building.</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-12 col-10 d-block p-5">
          <h3 style="color: white;">Newsletter</h3>
          <div class="card p-3 bg-dark text-light">
            <div class="card-title">
              <h4>Subscribe Here Now</h4>
            </div>
            <div class="card-body d-flex m-auto">
              <input type="text" class="form-control" style="width: 150px;border-radius:0px"
                placeholder="Email Address">
              <button type="button" class="btn btn-primary" style="border-radius:0px;"><span><i
                    class="fa fa-paper-plane text-light"></i></span></button>
            </div>
            <p>Subscribe to our mailing list and get updates to your email inbox.</p>
          </div>
        </div>
      </div><!--end of footer row-->

      <div class="container-fluid bg-gradient">
        <div class="subfooter">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-10 d-block m-auto text-light">
              <span>@ 2022 Mend. All rights reserved | Designed<a href="#" class="btn text-light">Shivam
                  Chaurasiya</a></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-10 icon">
              <ul class="nav navbar-expand justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-instagram fa-2x text-danger"></i></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook fa-2x text-primary"></i></a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter fa-2x text-info"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus fa-2x text-"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin fa-2x text-primary"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div><!--subfooter-->
      </div>
    </div>
    <!--end of footer-->
  </div>
  <!--end of container-->     