
{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid services">
    <div class="contact">
      <h1 style="text-align: center; color:white; padding-top:100px; font-size: 60px;" class="display-5">Our services
      </h1>
    </div>
    <div class="home mt-2">
      <a href="/" class="btn btn-lg">Home</a><span>About Page</span>
    </div>
  </div>

  <div class="container mt-5 main-services">
    <h1 align="center">Explore Our Main Services</h1>
    <p align="center">If you’re not properly maintaining your home, the damage will become clear come inspection time. Leaky roofs, faulty HVAC systems, wood damage hinting at major structural problems. </p>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2" style="height: 390px;">
          <img src="/static/images/21.jpeg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Express Services</h4>
            <p class="card-text">Our service area includes Tacoma, Pierce County, Kitsap County, Auburn, Puyallup, Gig Harbor, Port Orchard and surrounding communities.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2">
          <img src="/static/images/20.jpeg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Window Services</h4>
            <p class="card-text">Available in combined and fixed models.
              Option of custom sizes.
              Single or double sealed glass.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2" style="height: 380px;">
          <img src="/static/images/23.jpeg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Maintenance Services</h4>
            <p class="card-text">A site visit and meeting with your designated contact before work commences
              Safety compliance
              Window alignment and adjustment
              Window locks.</p>
          </div>
        </div>
      </div>
    </div><!-- end of row-->
    <div class="row mt-4">
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2" style="height: 395px;">
          <img src="/static/images/24.jpeg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Express Services</h4>
            <p class="card-text">Window repair
              Glass Door & Window Replacement 
              ​Storefront Glass Replacement
              Emergency Services 24/7</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2">
          <img src="/static/images/25.jpg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Technical Services</h4>
            <p class="card-text">Architects design homes that are unique to your taste, and as a homeowner one wants the design and interiors to be different.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-10 d-block m-auto">
        <div class="card p-2">
          <img src="/static/images/26.jpg" class="card-image img-fluid" alt="">
          <div class="card-body">
            <h4 class="card-title">Engineering Services</h4>
            <p class="card-text">The windows and doors are an important functional component of a house, building or large structure. </p>
          </div>
        </div>
      </div>
    </div><!-- end of row-->
  </div>
  <!--end of form container-->

{% endblock %}

</html>
</body>